html
  head
    base(href='/')
    meta(charset='utf-8')
    title Infratec
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  body(ng-app='app')
    h1
      | hello

